 body {
     background-color: #060606;
     font-family: 'supermarket';
     font-size: 24px;
 }
 
 h3 {
     font-size: 36px;
 }
 
 .h-top-logo {
     height: 80px;
 }
 
 .nav-top-logo {
     font-size: 30px;
 }
 
 .dropdown-menu {
     padding: 0 0;
     border-radius: 0px;
 }
 
 .text-upderline {
     border-bottom: 1px solid #B82626;
 }
 
 .mobile-logo {
     color: #fff;
     font-size: 18px;
 }
 
 .bor-nav-tran {
     border-top: 3px solid #B82626;
     border-bottom: 3px solid #B82626;
 }
 
 .logo-size {
     height: 80px;
 }
 
 .left-content {
     right: 20%;
     position: absolute;
 }
 
 .navbar-dark .navbar-nav .nav-link {
     color: #BEB5A3;
     font-size: 24px;
 }
 
 .nav-item.active .nav-link {
     color: #B82626 !important;
     font-weight: bold;
     font-size: 24px;
 }
 
 .nav-mobile {
     display: none;
 }
 
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }
 
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 24px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }
 
 .sidenav a:hover {
     color: #f1f1f1;
 }
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .inside-nav {
     position: relative;
     height: 50px;
 }
 
 .help-contact {
     color: #fff;
     font-size: 14px;
 }
 
 .po-si-r {
     position: absolute;
     right: 20px;
 }
 
 .banner-home-mobile {
     display: none;
 }
 
 @media only screen and (max-width: 1600px) {
     .left-content {
         right: 10%;
     }
 }
 
 @media only screen and (max-width: 1250px) {
     .left-content {
         right: 5px;
     }
 }
 
 @media only screen and (max-width: 858px) {
     .nav-destop {
         display: none;
     }
     .nav-mobile {
         display: block;
     }
     .banner-home {
         display: none;
     }
     .banner-home-mobile {
         display: block;
     }
 }
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }
 
 .header-color {
     color: #fff;
 }
 
 .burger-color {
     color: #fff;
     font-size: 30px;
 }
 
 .dropdown-item.active,
 .dropdown-item:active {
     color: #fff;
     text-decoration: none;
     background-color: #B82626;
 }
 
 .icon-destop {
     width: 376px;
     margin-top: -25px;
 }